.button {
    height: 29px;
    width: 120px;
    /*padding: 8 px 28 px;*/
    border-radius: 100px;
    /*border: solid 1px red;*/
    border: none;
    background: #E1E7FF;

    text-align: center;
    font-family: "Inter", sans-serif;
    color: #202020;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
    letter-spacing: -0.44px;
}