.main .foto-txt {
    width: 444px;
    height: 332px;
    padding: 26px 100px 75px 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 108px;
    /*border: solid 1px blue;*/
}