.card__frame-image_twice-img {
    width: 664px;
    height: 399px;
    padding-top: 33px;
    flex-shrink: 0;
    background: url(../../../../../../../images/AndyWarholLongread.png), lightgray -67.253px 0px / 120.558% 139.85% no-repeat;
}