.menu__link {
    display: flex;
    width: 85px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.menu__link :hover {
    /*font-size: 20px;*/
    font-weight: bolder;
    transition: 1s; /* Время перехода */
}