.frame15 {
    width: 136px;
    height: 136px;
    border-radius: 28px;
    /*background: url(../../../../../../../images/IraDzemchanka.png), lightgray -27.479px -0.913px / 134.932% 132.215% no-repeat;*/
}